

  <div  id='c' class="parallax-container valign-wrapper" >
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light" style='color: white' > Crear consientización en las personas sobre el daño que ocasiona el consumo de carne y a lo que nos lleva la misma, inculcar
                en la sociedad una cultura ambientalista de protección al planeta y generar en el mismo un equilibrio ecológico.</h4>
        </div> 
      </div>
    </div>
    <div class="parallax"><img src="../assets/img/bg3.jpg" alt="Unsplashed background img 2"></div>
  </div>  
  <div class="container">
    <div class="section">

      <h4 ><strong> QUIENES SOMOS</strong></h4>
      <div class="row">
        <div class="col s8 center" style='height:500px '>
 
      <img src='../assets/img/logo.png' >
        </div>
        <div class="col s4">
    <div class="carousel carousel-slider center" data-indicators="true">
  
    <div class="carousel-item red white-text" href="#one!">
      <h2>RICARDO PAUCARA</h2>
      <p class="white-text">desarrollador web  y app</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Roy</h2>
      <p class="white-text">diseñador grafico</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>EZEQUIEL</h2>
      <p class="white-text">Diseñador de base de datos </p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>ALEJANDRO</h2>
      <p class="white-text">Desaroolador movil</p>
    </div>
  </div>
  
            </div>
      </div>

    </div>
  </div>
  <app-footer>  </app-footer>