
<!--************************************************-->

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s6 center" style='height:500px '>
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h3>CONTACTANOS</h3>

        <div class="row">
          <button class="btn" blue (click)="goFacebook()">Facebook</button>
          <button class="btn" blue (click)="goTwiter()">Twiter</button> 
           no.te.comas.el.planeta@gmail.com
        </div>
      </div>

      <div class="col s3 center">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.4223592179305!2d-68.13210548577531!3d-16.504761545222287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f206520793ddd%3A0x53f6df346cc69976!2sUniversidad+Mayor+de+San+Andr%C3%A9s+(UMSA)!5e0!3m2!1ses!2ses!4v1495104853993"
          width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
    </div>




  </div>
</div>


<!--******************************************-->

<app-footer>  </app-footer>