<div *ngIf="alternativa">
  <div class="parallax-container ">
    <h3 class="titulo-2"> {{alternativa.nombre}}</h3>
    <div class="parallax"><img src="assets/img/frutas1.jpg"></div>
  </div>
  <div class="brown lighten-4">

    <div class="row">
      <div class="input-field col s6">
        <br>
        <img src="assets/img/patatas-revolconas.jpg" width="530" height="400">
      </div>
      <div class="input-field col s6">
        <h1>INGREDIENTES</h1>
        <h4>{{alternativa.ingredientes}}</h4>


      </div>

    </div>
    <div class="row">
      <div class="input-field col s12">
        <h1>PREPARACION</h1>
        <font face="Comic Sans MS,arial,verdana">
          <h5>
            <p>{{alternativa.preparacion}}</p>
          </h5>
        </font>
      </div>
    </div>

  </div>


  <div class="parallax-container">
    <div class="parallax"><img src="assets/img/vegetales.jpg"></div>
  </div>
</div>