<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">No te Comas el Planeta</h5>
        <p class="grey-text text-lighten-4">Un Sistema de Informacion Creado Para insentivar Al Cuidado de Nuestro Planeta</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Configuracion</h5>
        <ul>
          <li><a class="white-text" href="#!">Idiomas</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contactanos Atraves</h5>
        <ul>
          <a class="btn" blue (click)="goFacebook()">Facebook</a>
          <a class="btn" blue (click)="goTwiter()">Twiter</a> 
          no.te.comas.el.planeta@gmail.com
        </ul>
      </div>
    </div>
  </div>

</footer>