<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>AYUDANOS A CAMBIAR AL MUNDO</h4>
    <app-login> </app-login>

  </div>

</div>



<div id="index" class="parallax-container" style="  min-height: 500px">
  <div class="section no-pad-bot">
    <div class="container" style="padding-top: 15px">

      <h1 class="header center " style='color : white  '><strong>SABIAS QUE </strong></h1>
      <h3 style='color:white'>EL 70% DEL TERRENO AGRICOLA ES DESTINADO A LA SIEMBRA DE PASTOS PARA ALIMENTAR LOS DISTINTOS ANIMALES, PUDIENDO SER
        UTILIZADOS EN LA SIEMBRA DE ALIMENTOS PARA LOS HUMANOS.
      </h3>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/deforestacion-agresiva.jpg" alt="Unsplashed background img 1">
  </div>
</div>



<div id='ad' class="container">
  <div class="section" style='padding-top: 10%'>

    <div class="row">
      <div class="col s12 right" style='height:500px '>
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h2>ACERCA DE NOSOTROS</h2>
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">assignment_late</i></h2>
              <h5 class="center">MISION</h5>

              <p class="light">Poner en marcha iniciativas de educación ambiental en una perspectiva integral que promueva el cuidado de nuestro
                planeta de sus múltiples enemigos ambientales, principalmente uno de los males más dañinos que es la ganadería
                industrial.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">assignment_ind</i></h2>
              <h5 class="center">VISION</h5>

              <p class="light">
                Ser una organización cuyo trabajo sea brindar a la sociedad información real sobre lo que está ocurriendo con nuestro planeta,
                siendo necesario cambiar nuestra cultura alimenticia por el bien personal y colectivo, más importante aún
                parar la destrucción de nuestro planeta. </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">OBJETIVOS</h5>

              <p class="light">
                Crear consientización en las personas sobre el daño que ocasiona el consumo de carne y a lo que nos lleva la misma, inculcar
                en la sociedad una cultura ambientalista de protección al planeta y generar en el mismo un equilibrio ecológico.
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

<div id='c' class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light" style='color:white'>LA PRINCIPAL RAZON PARA LA TALA DE ARBOLES EN EL AMAZONAS ES LA GANADERIA, DEBIDO A LA TIERRA FERTIL Y DE FACIL SIEMBRA
          QUE OFRECE.</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/bg3.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
  <div class="section">

    <h4><strong> QUIENES SOMOS</strong></h4>
    <div class="row">
      <div class="col s8 center" style='height:500px '>

        <img src='assets/img/logo.png'>
      </div>
      <div class="col s4">
        <div class="carousel carousel-slider center" data-indicators="true">

          <div class="carousel-item red white-text" href="#one!">
            <h2>RICARDO PAUCARA</h2>
            <p class="white-text">desarrollador web y app</p>
          </div>
          <div class="carousel-item amber white-text" href="#two!">
            <h2>Roy</h2>
            <p class="white-text">diseñador grafico</p>
          </div>
          <div class="carousel-item green white-text" href="#three!">
            <h2>EZEQUIEL</h2>
            <p class="white-text">Diseñador de base de datos </p>
          </div>
          <div class="carousel-item blue white-text" href="#four!">
            <h2>ALEJANDRO</h2>
            <p class="white-text">Desaroolador movil</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<div id='ct' class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light" style='color:white'>LA EMISION DE METANO PRODUCIDA POR LA GANADERIA CONTRIBUYE MUCHO MAS AL EFECTO INVERNADERO QUE TODOS LOS MEDIOS DE
          TRANSPORTE JUNTOS.</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/bg2.jpg" alt="Unsplashed background img 2"></div>
</div>

<!--************************************************-->

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s6 center" style='height:500px '>
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h3>CONTACTANOS</h3>

        <div class="row">
          <button class="btn" blue (click)="goFacebook()">Facebook</button>
          <button class="btn" blue (click)="goTwiter()">Twiter</button> 
           no.te.comas.el.planeta@gmail.com
        </div>
      </div>

      <div class="col s3 center">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.4223592179305!2d-68.13210548577531!3d-16.504761545222287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f206520793ddd%3A0x53f6df346cc69976!2sUniversidad+Mayor+de+San+Andr%C3%A9s+(UMSA)!5e0!3m2!1ses!2ses!4v1495104853993"
          width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
    </div>




  </div>
</div>


<!--******************************************-->


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light" style='color:white'>EN LA ACTIVIDAD DE LA GANADERIA SE UTILIZA MAS DEL 50% DEL AGUA DULCE DEL MUNDO</h5>
        <h5 class="header col s12 light" style='color:white'>SE DESTINA GRAN PARTE DEL AGUA DULCE DEL MUNDO A CONSUMO DE LOS ANIMALES, RIEGO DE SUS PASTOS.</h5>

      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/bg1.jpg" alt="Unsplashed background img 3"></div>
</div>

<div *ngIf='!estaLogueado' class="fixed-action-btn">
  <a class="btn-floating btn-large red pulse" href="#modal1">
    <i class="large material-icons">person</i>
  </a>

</div>